#for redfine scraping
undetected-chromedriver

# for news scraping
newsapi-python
newspaper3k
lxml_html_clean

# for screenshot/website/documentation llm acquistion
langchain_community
tiktoken 
langchain-openai 
langchainhub 
chromadb 
langchain

beautifulsoup4
chromadb
pypdf
pytesseract 
pillow
pdf2image

